<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberMapper">
    <select id="getNumRecords" resultType="int">
    	select count(*) from board
    </select>
    
    <select id="selectList" resultType="com.board.db.BoardDto">
 	SELECT * 
 	FROM (SELECT E.*, ROWNUM AS RN
	FROM (SELECT * FROM BOARD 
	ORDER BY NUM DESC) E ) WHERE RN BETWEEN ${start} AND ${listsize} 
    </select>
    
 	<select id="selectOne" resultType="com.board.db.MemberDto">
 		select * from Member where email = #{email} and pw = #{pw}
 	</select>
 
	<select id="countProducts" parameterType="int" resultType="int">
        SELECT stock FROM products WHERE id = #{id}
    </select>

    <select id="selectProductById" parameterType="int" resultType="com.board.db.BoardDto">
        SELECT * FROM products WHERE id = #{id}
    </select>
	

    <insert id="insertOne" parameterType="com.board.db.MemberDto">
        INSERT INTO Member (id,email,pw,name,tel,gender)
        VALUES (seq_member.nextval, #{email}, #{pw}, #{name}, #{tel}, #{gender} )
    </insert>

    <update id="updateOne" parameterType="com.board.db.BoardDto">
        UPDATE board
        SET writer = #{writer}, title = #{title}, content = #{content}, regtime = #{regtime}
        WHERE num = #{num}
    </update>
    
    <update id="updateHits" parameterType="int">
        UPDATE board
        SET hits = hits + 1 
        WHERE num = #{num}
    </update>

    <delete id="deleteOne" parameterType="int">
        DELETE FROM board WHERE num = #{num}
    </delete>
</mapper>